body {
  background-color: #eee;
  line-height: 1.5;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

header,
main {
  margin: 1em .5em;
}

header {
  background-color: #313;
  margin: 0;
  padding: .8em;
  border-bottom: 3px solid gold;
  color: gold;
  font-size: 2em;
  text-align: center;
}

main {
  background-color: white;
  color: black;
}

section {
  margin: 3em 0;
}

section h2 {
  border-bottom: 1px solid goldenrod;
  padding-bottom: .8em;
  color: goldenrod;
  text-shadow: 1px 1px 2px #333;
}

footer {
  padding: 1em 0;
  text-align: center;
}

blockquote {
  border-left: 5px solid #ddd;
  padding: 0 .8em 0 1.5em;
  margin: 2em 0;
}

code {
  display: block;
  background-color: #eee;
  border: 1px solid #ccc;
  padding: .5em;
  margin: 1.8em 0;
  white-space: pre-wrap;
}

li a {
  font-weight: bold;
  color: darkcyan;
  line-height: 2;
}

.embed {
  margin: 2em auto;
}

@media (min-width: 40em) {
  main {
    max-width: 35em;
    margin: 2em auto;
    padding: 1em 2em;
  }

  code {
    padding: 1em;
  }
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

/*.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
